<div id="app">
    <b-navbar variant="success" type="light" v-if="connection_status == 'connected'">&nbsp;</b-navbar>
    <b-navbar variant="warning" type="light" v-if="connection_status == 'not connected'">
        <div class="text-center" style="width: 100%">
          Not connected. Enter server details on settings page.
        </div>
      </b-navbar>
    <div class="container">
        <p><br /></p>
        <b-tabs pills>
            <b-tab title="Browse">
                <p><br /></p>

                <div class="row">
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ stats.programs.toLocaleString() }}</h5>
                                <p class="card-text">Programs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ stats.domains.toLocaleString() }}</h5>
                                <p class="card-text">Domains</p>
                                <p class="small">{{stats.domains_resolved.toLocaleString() }} resolved ({{ ((stats.domains_resolved*100/stats.domains).toFixed(2)) }}%)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ stats.ips.toLocaleString() }}</h5>
                                <p class="card-text">IPs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ stats.urls.toLocaleString() }}</h5>
                                <p class="card-text">URLs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ stats.services.toLocaleString() }}</h5>
                                <p class="card-text">Services</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p><br /></p>

                <div class="form-group">
                    <div class="d-flex align-items-center">
                        <span style="margin-right: 10px;">Select program</span>
                        <span v-b-tooltip title="Only showing enabled programs with a defined inscope. Use the filter menu to filter using your custom tags.">
                            <b-icon icon="info-circle-fill" scale="1" variant="black"></b-icon>
                        </span>
                        <span style="margin-right: 10px;"></span>
                        <select @change="select_program" v-model="program" class="form-control col-5 mr-2" id="programSelect">
                            <option value="SHOWALL">Load all programs (this may be heavy on your browser)</option>
                            <option v-for="program in filtered_programs" v-bind:key="program.id">{{ program.id }}</option>
                        </select>
                        <b-button v-if="program_doc && program_doc.hasOwnProperty('doc')" v-b-toggle.collapse-1 variant="outline-secondary" @click="toggleProgramDetails">
                            {{ showProgramDetails ? 'Hide details' : 'Show details' }}
                        </b-button>
                        <span style="margin-right: 10px;"></span>
                        <b-button variant="outline-secondary" @click="selectRandomProgram" v-b-tooltip title="Select random program">
                            <b-icon icon="dice-5"></b-icon>
                        </b-button>
                        <b-button variant="outline-primary" v-b-toggle.collapse-filter-menu class="ml-2">
                            <b-icon icon="funnel-fill"></b-icon> Filter
                        </b-button>
                        <span style="margin-right: 10px;"></span>
                        <span style="margin-right: 10px;"></span>
                        <b-form-checkbox v-model="autoUpdate" switch>
                            Auto-update
                        </b-form-checkbox>
                        
                    </div>
                     
                </div>
                <b-collapse id="collapse-filter-menu" class="ml-2" style="min-width:200px;">
                    <b-card> 
                        <div>
                            <div v-if="programs_tag_filters">
                                <div v-for="(values, key) in programs_tag_filters" :key="key" class="mb-2">
                                    <b-button v-b-toggle="'collapse-filter-' + key" variant="link" size="sm" class="p-0">
                                        {{ key }}
                                        <b-icon :icon="program_filters_collapsed[key] ? 'chevron-down' : 'chevron-up'"></b-icon>
                                    </b-button>
                                    <b-collapse :id="'collapse-filter-' + key" v-model="program_filters_collapsed[key]" class="ml-2">
                                    <span v-for="(k, v) in values" :key="v" style="display: block; margin-bottom: 2px;">
                                        <b-form-checkbox
                                            :checked="!!programs_tag_filters[key][v]"
                                            @change="onTagFilterChange(key, v, $event)"
                                            :name="`filter-${key}`"
                                            size="sm"
                                            class="mb-1"
                                        >
                                            {{ v }}
                                        </b-form-checkbox>
                                    </span>
                                    </b-collapse>
                                    
                                </div>
                            </div>
                            <div v-else>
                                <span class="text-muted">No tags available</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <span class="small">Showing {{ filtered_programs.length }} of {{ programs.length }} programs</span>
                                <b-button size="sm" variant="primary" @click="clearAllTagFilters">Clear filters</b-button>
                            </div>
                        </div>
                    </b-card>
                </b-collapse>
                <div align="right" v-if="program_doc && program_doc.hasOwnProperty('doc')">
                    <b-collapse id="collapse-1" class="mt-2">
                        <b-card align="left">
                            <pre><code v-html="highlightedProgramDetails"></code></pre>
                        </b-card>
                    </b-collapse>
                </div>


                <br />

                <div>
                    <b-tabs>
                        <b-tab v-for="(docs, doctype) in docstore" :key="doctype" :title="docs.display_value" @click.prevent="active_tab = doctype" :active="active_tab === doctype">
                            <div v-if="doctype == 'domains'">
                                <br />
                                <div class="card">
                                    <div class="card-body">
                                        <b-form-radio v-model="docstore.domains.filter_domains" name="domain-filter" value="all">Show all</b-form-radio>
                                        <b-form-radio v-model="docstore.domains.filter_domains" name="domain-filter" value="resolved">Resolved only</b-form-radio>
                                        <b-form-radio v-model="docstore.domains.filter_domains" name="domain-filter" value="unresolved">Unresolved only</b-form-radio>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <b-pagination v-model="docs.table.current_page" :total-rows="records_filtered(doctype).length" :per-page="table_pagination_records" :aria-controls="'tbl-'+doctype" align="center"></b-pagination>
                            <div v-if="docs.tagnames.length > 0">
                                <span v-for="tag in docs.tagnames" :key="tag.name">
                                    <b-button pill size="sm" :pressed.sync="tag.show" variant="outline-primary">{{ tag.name }}</b-button>
                                    {{ '&nbsp;' }}
                                </span>
                                &nbsp;
                                <span v-b-tooltip title="Toggle your custom tags to add them as columns to the data table.">
                                    <b-icon icon="info-circle-fill" scale="1" variant="black"></b-icon>
                                </span>
                            </div>
                            <br />
                            <b-table :class="settings.full_width_table.value ? 'full-width' : ''" show-empty striped bordered :busy="docs.table.isBusy" :items="records_filtered(doctype)" :fields="fields_filtered(doctype)" :options="docs.table.options" :id="'tbl-'+doctype" :per-page="table_pagination_records" :current-page="docs.table.current_page">
                                <template #cell(doc.ips)="data">
                                    <span v-html="formatClickableDocuments(data.value)" @click.prevent="handleDocumentClick"></span>
                                </template>
                                <template #cell(doc.domains)="data">
                                    <span v-html="formatClickableDocuments(data.value)" @click.prevent="handleDocumentClick"></span>
                                </template>
                                <template #cell(doc.hostname)="data">
                                    <span v-html="formatClickableDocuments(data.value)" @click.prevent="handleDocumentClick"></span>
                                </template>
                                <template #table-busy>
                                    <div class="text-center">
                                        <p>
                                            <b-spinner class="align-middle"></b-spinner>
                                        </p>
                                        <p><strong>Loading...</strong></p>
                                    </div>
                                </template>
                                <template slot="top-row" slot-scope="{ fields }">
                                    <td v-for="field in fields" :key="field.key">
                                        <b-form-input type="search" width="80%" v-model="docs.table.filters[field.key]" placeholder="filter" debounce="250" :class="'form-control' + (field.key in docs.table.filters && docs.table.filters[field.key].length > 0 ? ' bg-light border-warning' : '')"/>
                                    </td>
                                </template>
                                <template slot="bottom-row" v-if="program" :set="total = 999">
                                    <td colspan="100%" align="center" class="small">
                                        Loaded {{ docs.records.length.toLocaleString() }} of
                                        <span v-if="doctype != 'domains' || docs.filter_domains == 'all'" :set="total = stats[doctype]">
                                            {{ total.toLocaleString() }}
                                        </span>
                                        <span v-else>
                                            <span :set="total = stats[''+doctype+'_'+docs.filter_domains]">
                                                {{ total.toLocaleString() }}
                                            </span>
                                        </span>
                                        records
                                        <span v-if="total > docs.records.length">&bull; <a href="#" @click.prevent="load_more_records(doctype)">load {{ (Math.min(page_size, total - docs.records.length)).toLocaleString() }} more</a></span>

                                    </td>
                                </template>
                            </b-table>
                            <div align="right" style="margin-bottom:2em;">
                                <b-button v-clipboard:copy="format_clipboard(records_filtered(doctype))" variant="outline-secondary" size="sm">Copy to clipboard</b-button>
                            </div>
                            <b-pagination v-model="docs.table.current_page" :total-rows="records_filtered(doctype).length" :per-page="table_pagination_records" :aria-controls="'tbl-'+doctype" align="center"></b-pagination>

                        </b-tab>
                    </b-tabs>
                </div>
            </b-tab>

            <b-tab title="Alerts">
                <div align="right">
                    <b-pagination v-model="alerts.table.current_page" :total-rows="alerts.records.length" :per-page="table_pagination_records" aria-controls="tbl-alerts" align="center"></b-pagination>
                    <b-table show-empty striped bordered borderless hover id="tbl-alerts" :items="alerts.records" :per-page="table_pagination_records" :current-page="alerts.table.current_page" :fields="alerts.table.fields" :options="alerts.table.options" :busy="alerts.table.isBusy">
                        <template #table-busy>
                            <div class="text-center">
                                <p>
                                    <b-spinner class="align-middle"></b-spinner>
                                </p>
                                <p><strong>Loading...</strong></p>
                            </div>
                        </template>
                        <template #cell(key)="data">
                            <span v-b-tooltip :title="new Date(data.item.key * 1000) | moment('dddd, MMMM Do YYYY, h:mm:ss a')">{{new Date(data.item.key*1000) | moment("from") }}</span>
                        </template>
                        <template slot="bottom-row">
                            <td colspan="100%" align="center" class="small">
                                <span><a href="#" @click.prevent="load_more_records('alerts')">load more</a></span>
                            </td>
                        </template>
                    </b-table>
                    <b-pagination v-model="alerts.table.current_page" :total-rows="alerts.records.length" :per-page="table_pagination_records" aria-controls="tbl-alerts" align="center"></b-pagination>
                </div>
            </b-tab>

            <!-- <b-tab title="Queue">
                
                <div align="right">
                    
                    <b-pagination v-model="queue.table.current_page" :total-rows="queue.records.length" :per-page="table_pagination_records" aria-controls="tbl-queue" align="center"></b-pagination>
                    <span v-b-tooltip title="This table shows the current queue of documents that have not yet been processed by any of your tooling.">
                            <b-icon icon="info-circle-fill" scale="1" variant="blue"></b-icon>
                    </span>
                    <b-table show-empty striped bordered borderless hover id="tbl-queue" :items="queue.records" :per-page="table_pagination_records" :current-page="queue.table.current_page" :fields="queue.table.fields" :options="queue.table.options" :busy="queue.table.isBusy">
                        <template #table-busy>
                            <div class="text-center">
                                <p>
                                    <b-spinner class="align-middle"></b-spinner>
                                </p>
                                <p><strong>Loading...</strong></p>
                            </div>
                        </template>
                        <template #cell(id)="data">
                            <span class="badge badge-light">{{data.item.key}}</span> <span v-html="formatClickableDocuments(data.item.id)" @click.prevent="handleDocumentClick"></span>
                        </template>
                        <template #cell(value.last_updated)="data">
                            <span v-b-tooltip :title="new Date(data.item.value.last_updated * 1000) | moment('dddd, MMMM Do YYYY, h:mm:ss a')">{{new Date(data.item.value.last_updated*1000) | moment("from") }}</span>
                        </template>
                        <template #cell(value.event)="data">
                            <span v-if="data.item.value.event == 'NEW'" class="badge badge-success">{{data.item.value.event}}</span>
                            <span v-else-if="data.item.value.event == 'UPDATED'" class="badge badge-primary">{{data.item.value.event}}</span>
                            <span v-else-if="data.item.value.event == 'DELETED'" class="badge badge-danger">{{data.item.value.event}}</span>
                            <span v-else class="badge badge-secondary">{{data.item.value.event}}</span>
                        </template>
                    </b-table>
                    <b-pagination v-model="queue.table.current_page" :total-rows="queue.records.length" :per-page="table_pagination_records" aria-controls="tbl-queue" align="center"></b-pagination>
                </div>
            </b-tab> -->

            <b-tab title="Settings">
                <template #title>
                    <b-icon icon='gear-fill'></b-icon>
                </template>
                <div class="container">
                    <br />  
                <b-card>

                    <b-form>
                        <b-form-group
                          id="server-settings-server"
                          label="BBRF server URL:"
                          placeholder=""
                          label-for="input-1"
                          description="All communication with the server happens inside your browser."
                        >
                          <b-form-input
                            id="input-1"
                            v-model="couchdb"
                            type="text"
                            placeholder="http://localhost:5984/bbrf"
                            required
                          ></b-form-input>
                        </b-form-group>
                  
                        <b-form-group id="server-settings-username" label="Username:" label-for="bbrf-username">
                          <b-form-input
                            id="bbrf-username"
                            v-model="couchdb_user"
                            placeholder="bbrf"
                            required
                          ></b-form-input>
                        </b-form-group>

                        <b-form-group id="server-settings-password" label="Password:" label-for="bbrf-password">
                            <b-form-input
                              id="bbrf-password"
                              type="password"
                              v-model="couchdb_pass"
                              placeholder="bbrf"
                              required
                            ></b-form-input>
                          </b-form-group>
                  
                        <b-button type="submit" variant="primary" @click.prevent="connect_server">Connect</b-button>
                      </b-form>
                      <hr />
                    <b-form-group
                    label="Display Settings"
                    v-slot="{ ariaDescribedby }"
                    >
                        <b-form-checkbox
                            v-for="setting in settings"
                            v-model="setting.value"
                            :key="setting.description"
                            :aria-describedby="ariaDescribedby"
                            name="flavour-3a"
                            @change="save_settings"
                        >
                        {{ setting.description }}
                        <span v-b-tooltip :title="setting.info">
                            <b-icon icon="info-circle-fill" scale="1" variant="black"></b-icon>
                        </span>
                        </b-form-checkbox>
                    </b-form-group>
                </b-card>
            </div>
            </b-tab>
        </b-tabs>

    </div>
    <footer class="footer">
        <div class="container" id="footer">
            <center>
                <hr />
                <p class="small">
                    Created with &hearts; by <a href="https://infosec.exchange/@honoki">@honoki</a>
                    &bull;
                    <a href="https://github.com/honoki/bbrf-dashboard">GitHub</a>
                </p>
            </center>
        </div>
    </footer>
    <b-modal id="doc-info-modal" :title="selectedDocument" hide-footer scrollable>
        <pre v-if="docInfo"><code v-html="docInfo"></code></pre>
        <p v-else>Loading...</p>
      </b-modal>
</div>
